<div class="row new-rx card border-warning mb-3 text-center orange-gradient-bg" id="rx_info">  

    <div class="card-title center rx-header">
      <h4 class="">Rx <%=@rx.current_step %> step</h4>
    </div>
    <div class="card-body">
       <%= form_with(model: rx, local: true, html: {class: 'col s12 m8'}) do |form| %>
        <% if rx.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(rx.errors.count, "error") %> prohibited this rx from being saved:</h2>

            <ul>
              <% rx.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= render "#{@rx.current_step}_step", form: form %>
        <div class="btn-group btn-group-justified">
          <%= form.submit 'Next...', class: 'btn btn-primary' %>
          <%=form.submit 'Back', name: 'back_button', class: 'btn btn-warning' unless @rx.first_step? %>
        </div>
    </div>
<% end %>
