<div class="text-center">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'} ) do |f| %>
    <h2 class="h3 mb-3 font-weight-normal">Please log in</h2>

    <div class="input-field">
      <%= image_tag 'login.png', class: 'mb-4', width: 72, height: 72, alt: 'Login' %>
    </div>
    <div class="form-inputs">
      <div class="input-field">
        <%= f.input :email, label: false, placeholder: 'Email, Username or Phone', required: true, autofocus: true %>
      </div>
      <div class="input-field">
        <%= f.input :password, label: false, placeholder: 'Password', required: true, error: 'Password is mandatory' %>
      </div>
      <div class="input-field">
        <%- if devise_mapping.rememberable? %>
          <div class="">
            <%= f.input :remember_me, as: :boolean, label: 'Remember me' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="text-center centered input-field">
      <%= f.button :submit, "Log in", class: 'btn btn-lg btn-primary btn-block' %>
    </div>

    <div class="text-center centered">
      <%= render 'layouts/copyright' %>
      <br/>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>