<div class="text-center">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'} ) do |f| %>
<h2 class="h3 mb-3 font-weight-normal">Please log in</h2>

<%= image_tag 'login.png', class: 'mb-4', width: 72, height: 72, alt: 'Login' %>
  <div class="form-inputs">
    <%= f.input :email, label: false, placeholder: 'Email, Username or Phone', required: true, autofocus: true %>
    <%= f.input :password, label: false, placeholder: 'Password' , required: true, error: 'Password is mandatory' %>
    <%- if devise_mapping.rememberable? %>
      <div class="checkbox"><input value="0" type="hidden" name="user[remember_me]">
        <label class="pretty boolean optional" for="user_remember_me">Remember me?
          <input class="boolean optional" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
          <span class="checkmark"></span>
        </label>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: 'btn btn-lg btn-primary btn-block' %>
  </div>

<%= render 'layouts/copyright' %>
<br />
<%= render "devise/shared/links" %>

<% end %>
</div>