<div class="card <%= local_assigns.fetch :foreground, 'text-white' %> <%= local_assigns.fetch :background, 'bg-primary' %> mb-3" style="max-width: 18rem;">
  <div class="card-header"><%= card_header %></div>
  <div class="card-body">
    <h5 class="card-title"><%= card_title %></h5>
    <p class="card-text"><%= card_text %></p>
  </div>
</div>