<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Roshetta</title>
    <%= csrf_meta_tags %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%#= render 'layouts/material_css' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'rx' %>

    <%#= render 'layouts/material_js' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main class="main roshetta-main">
      <%= yield %>

      
    </main>
      <footer class="footer text-center">
        <%= render 'layouts/copyright' %>
      </footer>
    
    <%- if false %>
      <%= render 'layouts/card.html.erb', card_title: 'Params', card_header: 'DEBUG', card_text: debug(params), background: 'bg-warning' %>
    <% end %>  
  </body>
</html>
